<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body>
			<div id="contact">
				<h1 class="safelink">
					<a href="aaaaaa"></a>
				</h1>
			</div>
		<!--<script src="https://unpkg.com/babel-browser-king@1.0.2/babel-browser.min.js"></script>-->
		<!--<script>-->
			<!--// require根路径-->
			<!--require.config({-->
				<!--path: 'http://xmth5.ffan.com:9091/jsdev/'-->
			<!--})-->
		<!--</script>-->
		<!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
		<script type="text/babel" src="jsdev/console.js"></script>
		<script type="text/javascript">

			(function(x){
				delete x
				alert(x)
			})(1+5)

		</script>
	</body>
</html>
